DATABASE_URL=postgresql://postgres:password@localhost:5432/veterinaria?schema=public
AUTH_SECRET=genera-con-openssl-rand-base64-32
AUTH_URL=http://localhost:3000
NEXT_PUBLIC_EXTERNAL_PORTAL_URL=https://tu-dominio-ionos.com
